@use "../Styles/variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  margin-block: 5px;
  font-family: sans-serif;
}
body {
  padding: 30px;
  font-family: variables.$apple-font;
}
main {
  background-color: rgb(237, 237, 237);
  padding: 20px 50px;
  border-radius: 20px;
  max-width: 550px;
  width: 90%;
  margin: auto;
  overflow:hidden;
  border-radius: 10px;
}

@import "../components/Filter/TacheFilter";
@import "../components/Form/TacheForm";
@import "../components/List/TacheList";